<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Lora&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="./public/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="./public/welcomePageCss.css" />
    <link
      href="css/materialize.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DayByDay</title>
  </head>
  <body class="container mx-auto">
    <img src="./img/DBD.PNG" alt="logo" / class="max-w-xs max-h-48
    object-left-top ">

    <button
      type="button"
      class="bg-gradient-to-r from-yellow-900 via-yellow-700 to-yellow-300 hover:from-yellow-300 hover: via-yellow-700 hover:to-yellow-900 text-white font-semibold px-4 py-2 rounded transition duration-500 ease-in-out text-lg"
    >
      Login
    </button>

    <button
      type="button"
      class="bg-gradient-to-r from-yellow-900 via-yellow-700 to-yellow-300 hover:from-yellow-300 hover: via-yellow-700 hover:to-yellow-900 text-white font-semibold px-4 py-2 rounded transition duration-500 ease-in-out text-lg"
    >
      Sign Up
    </button>

    <p class="text-yellow-500 tracking-wide text-2xl">
      DayByDay will keep a log of your progress, and give you a graph that
      utilizes your daily ratings. That way you can visualize your personal
      growth at a quick glance. The ultimate goal is to assist the user in
      leading a healthier and happier lifestyle.
    </p>

    <p class="text-yellow-900 tracking-wider text-5xl">Meet The Team</p>
    <p class="text-yellow-700 text-3xl">Maximus Cristian</p>
    <img src="./img/maxSuit.png" alt="max" / class="max-w-xs max-h-48
    object-left-top ">
    <p class="text-yellow-700 text-3xl">Matthew Larson</p>
    <img src="./img/matthew.jpg" alt="logo" / class="max-w-xs max-h-48
    object-left-top ">
    <p class="text-yellow-700 text-3xl">Ryan Rathbun</p>
    <img src="./img/ryan.jpeg" alt="logo" / class="max-w-xs max-h-48
    object-left-top ">
    <p class="text-yellow-700 text-3xl">Skylar Dorn</p>
    <img src="./img/skylar.jpg" alt="logo" / class="max-w-xs max-h-48
    object-left-top ">

    <a
      id="social"
      href="https://www.instagram.com/dbd.wellness/"
      target="_blank"
      class="text-yellow-500 hover:border-red-500 absolute bottom-0 text-lg"
      >Check out our Socials!</a
    >
  </body>
</html>
