<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Lora&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/login.css"
    />
    <link
      href="/css/materialize.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DayByDay</title>
  </head>
  <body>
    <div class="container mx-auto px-0">
      <img src="/img/DBD.PNG" alt="logo" / class="max-w-xs max-h-48
      object-center">

      <nav>
      <ul>
        <li id="login">
          <a id="login-trigger" href="#">
            Log in <span>▼</span>
          </a>
          <div id="login-content">
            <form>
                <input id="username"
                        type="username"
                        name="username"
                        placeholder="Username..." required
                      />
                <input id="password"
                        type="password"
                        name="Password"
                        placeholder="Password..." required
                      />
            </form>
            </div>
            </li>
            </ul>
    </nav>

      <p class="text-amber-800 tracking-wide text-2xl border-2 mt-14">
        DayByDay will keep a log of your progress, and give you a graph that
        utilizes your daily ratings. That way you can visualize your personal
        growth at a quick glance. The ultimate goal is to assist the user in
        leading a healthier and happier lifestyle.
      </p>

      <button
        type="button"
        id="login-button"
        class="bg-gradient-to-r from-yellow-900 via-yellow-700 to-yellow-300 hover:from-yellow-300 hover: via-yellow-700 hover:to-yellow-900 text-white font-semibold rounded-lg text-2xl mt-14 mr-3 py-2 max-w-sm ml-60"
      >
        Login
      </button>

      <button
        type="button"
        id="signup-button"
        class="bg-gradient-to-r from-yellow-900 via-yellow-700 to-yellow-300 hover:from-yellow-300 hover: via-yellow-700 hover:to-yellow-900 text-white font-semibold py-2 rounded-lg text-2xl max-w-sm ml-60"
      >
        Sign Up
      </button>

      <p class="text-yellow-900 tracking-wider text-5xl mt-40">Meet The Team</p>
      <p class="text-yellow-700 text-3xl mt-4">Maximus Cristian</p>
      <p class="text-yellow-900 text-xl">
        Day by day helped me overcome my problem with procrastination. I now
        achieve all my goals for the day.
      </p>
      <img src="/img/maxSuit.png" alt="max" / class="object-contain h-50 w-60 mt-2
      mb-6">
      <p class="text-yellow-700 text-3xl">Matthew Larson</p>
      <p class="text-yellow-900 text-xl">
        This app has helped me solidify my gym schedule for the week. Now, I'm
        in my best shape.
      </p>
      <img src="/img/matthew.jpg" alt="logo" / class="object-contain h-50 w-60
      mt-2 mb-6">
      <p class="text-yellow-700 text-3xl">Ryan Rathbun</p>
      <p class="text-yellow-900 text-xl">
        Day by day really got me on track with my class work. I am now top of my
        class.
      </p>
      <img src="/img/ryan.jpeg" alt="logo" / class="object-contain h-50 w-60
      mt-2 mb-6">
      <p class="text-yellow-700 text-3xl">Skylar Dorn</p>
      <p class="text-yellow-900 text-xl">
        Because Day day day assisted me with clearing my head space, I've never
        felt so free.
      </p>
      <img src="/img/skylar.jpg" alt="logo" / class="object-contain h-50 w-60
      mt-2 mb-6">
    </div>

    <script src="/js/login.js"></script>
  </body>
</html>
