/* Custom Stylesheet */
/*nav ul a,
nav .brand-logo {
  color: #444;
}

<a class= “navbar-brand” href=“index.php”></a>


.navbar-brand {
    position: relative,
    background: url(../images/logo.png),
    width: 170px,
    left: 15px,
}

p {
  line-height: 2rem;
}
.sidenav-trigger {
  color: #26A69A;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  .column {
    float: left;
    width: 50%;
   }
   /* Clear floats after the columns */
   /*.row:after {
    content: "";
    display: table;
    clear: both;
   }
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
footer.page-footer {
  margin: 0;
}*/