
body{
  background-color: #e2eac9;
  font-family: 'Lora', serif;
}
.login{
  margin-bottom: 10px;
  width: 200px;
  
}



a{
  font-family: 'Abril Fatface', cursive;
}

p{
  font-family: 'Kaisei Opti', serif;
}
